.div {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.div-2 {
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  width: 97%;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
  }
}

.div-3 {
  justify-content: center;
  align-items: center;
  background: linear-gradient(61deg, #fff 0%, #00a8e8 100%);
  align-self: stretch;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}

.div-4 {
  align-self: center;
  display: flex;
  margin-top: 60px;
  margin-left: -20px;
  margin-bottom: 54px;
  width: 100%;
  max-width: 999px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
  }
}

.div-5 {
  align-self: center;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.div-6 {
  align-self: stretch;
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
}

.div-7 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.div-8 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.div-9 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-9 {
    text-wrap: initial;
  }
}

.div-10 {
  justify-content: center;
  color: #003459;
  font-family: Unica One, sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 110%;
  align-self: start;
  margin-top: 402px;
  max-width: 1067px;
}

@media (max-width: 991px) {
  .div-10 {
    max-width: 100%;
    margin-top: 200px;
    font-size: 40px;
  }
}

.div-11 {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
  }
}

.div-12 {
  justify-content: center;
  color: #007ea7;
  font-family: Unica One, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  align-self: start;
  margin-top: 62px;
  margin-left: 200px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-12 {
    max-width: 100%;
    font-size: 40px;
    text-wrap: initial;
  }
}

.div-13 {
  justify-content: center;
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 46px;
  margin-left: 200px;
  max-width: 588px;
}

@media (max-width: 991px) {
  .div-13 {
    max-width: 100%;
  }
}

.div-14 {
  align-self: start;
  display: flex;
  margin-top: 52px;
  margin-left: 200px;
  margin-bottom: 45px;
  width: 521px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-14 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.div-15 {
  align-self: start;
  display: flex;
  margin-top: 3px;
  flex-direction: column;
}

.div-16 {
  justify-content: center;
  color: #007ea7;
  font-family: Unica One, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-16 {
    text-wrap: initial;
  }
}

.div-17 {
  justify-content: center;
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
  align-self: start;
  margin-top: 17px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-17 {
    text-wrap: initial;
  }
}

.div-18 {
  align-self: start;
  display: flex;
  margin-top: 3px;
  flex-direction: column;
}

.div-19 {
  justify-content: center;
  color: #007ea7;
  font-family: Unica One, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-19 {
    text-wrap: initial;
  }
}

.div-20 {
  justify-content: center;
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
  align-self: start;
  margin-top: 17px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-20 {
    text-wrap: initial;
  }
}

.div-21 {
  align-self: start;
  display: flex;
  flex-direction: column;
}

.div-22 {
  justify-content: center;
  color: #007ea7;
  font-family: Unica One, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-22 {
    text-wrap: initial;
  }
}

.div-23 {
  justify-content: center;
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
  align-self: start;
  margin-top: 15px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-23 {
    text-wrap: initial;
  }
}

.div-24 {
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-24 {
    max-width: 100%;
  }
}

.div-25 {
  align-self: center;
  display: flex;
  margin-top: 60px;
  margin-left: -20px;
  margin-bottom: 60px;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-25 {
    max-width: 100%;
  }
}

.div-26 {
  align-self: center;
  width: 100%;
}

@media (max-width: 991px) {
  .div-26 {
    max-width: 100%;
  }
}

.div-27 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-27 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 48%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.div-28 {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-28 {
    margin-top: 50px;
  }
}

.div-29 {
  justify-content: center;
  color: #003459;
  font-family: Unica One, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-29 {
    text-wrap: initial;
  }
}

.div-30 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 27px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 52%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}

.img {
  aspect-ratio: 0.98;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 40px;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img {
    max-width: 100%;
    margin-top: 50px;
  }
}

.div-31 {
  align-self: start;
  margin-top: 60px;
  width: 921px;
  max-width: 100%;
}

.div-32 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-32 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 55%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}

.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}

.div-33 {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-33 {
    margin-top: 50px;
  }
}

.div-34 {
  justify-content: center;
  color: #003459;
  font-family: Unica One, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-34 {
    text-wrap: initial;
  }
}

.div-35 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 27px;
}

.div-36 {
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-36 {
    max-width: 100%;
  }
}

.div-37 {
  align-self: center;
  display: flex;
  margin-top: 60px;
  margin-left: -20px;
  margin-bottom: 60px;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-37 {
    max-width: 100%;
  }
}

.div-38 {
  align-self: center;
  width: 100%;
}

@media (max-width: 991px) {
  .div-38 {
    max-width: 100%;
  }
}

.div-39 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-39 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.div-40 {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-40 {
    margin-top: 50px;
  }
}

.div-41 {
  justify-content: center;
  color: #000;
  font-family: Unica One, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-41 {
    text-wrap: initial;
  }
}

.div-42 {
  justify-content: center;
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 27px;
}

.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 52%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}

.div-43 {
  align-self: start;
  margin-top: 60px;
  width: 928px;
  max-width: 100%;
}

.div-44 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-44 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column-6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 54%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-6 {
    width: 100%;
  }
}

.column-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 46%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-7 {
    width: 100%;
  }
}

.div-45 {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-45 {
    margin-top: 50px;
  }
}

.div-46 {
  justify-content: center;
  color: #000;
  font-family: Unica One, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-46 {
    text-wrap: initial;
  }
}

.div-47 {
  justify-content: center;
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 28px;
}

.div-48 {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-48 {
    max-width: 100%;
  }
}

.div-49 {
  justify-content: center;
  color: #007ea7;
  text-align: center;
  font-family: Unica One, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  align-self: center;
  margin-top: 62px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-49 {
    font-size: 40px;
    text-wrap: initial;
  }
}

.div-50 {
  justify-content: center;
  color: #007ea7;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: center;
  margin-top: 31px;
  max-width: 466px;
}

@media (max-width: 991px) {
  .div-50 {
    max-width: 100%;
  }
}

.div-51 {
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  align-self: center;
  text-wrap: nowrap;
  align-items: center;
  border-radius: 8px;
  background-color: #007ea7;
  margin-top: 25px;
  margin-bottom: 60px;
  width: 114px;
  max-width: 100%;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 15px;
}

@media (max-width: 991px) {
  .div-51 {
    text-wrap: initial;
  }
}

.div-52 {
  background-color: #fff;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-52 {
    max-width: 100%;
  }
}

.div-53 {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  align-self: stretch;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-53 {
    max-width: 100%;
  }
}

.div-54 {
  align-self: center;
  display: flex;
  margin-top: 66px;
  margin-left: -20px;
  margin-bottom: 60px;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-54 {
    max-width: 100%;
  }
}

.div-55 {
  align-self: start;
  width: 744px;
  max-width: 100%;
}

.div-56 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-56 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column-8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 44%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column-8 {
    width: 100%;
  }
}

.div-57 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-57 {
    margin-top: 50px;
  }
}

.div-58 {
  justify-content: center;
  color: #00171f;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-58 {
    text-wrap: initial;
  }
}

.div-59 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 16px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-59 {
    text-wrap: initial;
  }
}

.div-60 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 11px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-60 {
    text-wrap: initial;
  }
}

.div-61 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 14px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-61 {
    text-wrap: initial;
  }
}

.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 44%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-9 {
    width: 100%;
  }
}

.div-62 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-62 {
    margin-top: 50px;
  }
}

.div-63 {
  justify-content: center;
  color: #00171f;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-63 {
    text-wrap: initial;
  }
}

.div-64 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 15px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-64 {
    text-wrap: initial;
  }
}

.div-65 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 14px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-65 {
    text-wrap: initial;
  }
}

.div-66 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 10px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-66 {
    text-wrap: initial;
  }
}

.column-10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 12%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-10 {
    width: 100%;
  }
}

.div-67 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-67 {
    margin-top: 50px;
  }
}

.div-68 {
  justify-content: center;
  color: #00171f;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-68 {
    text-wrap: initial;
  }
}

.div-69 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 19px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-69 {
    text-wrap: initial;
  }
}

.div-70 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 11px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-70 {
    text-wrap: initial;
  }
}

.div-71 {
  justify-content: center;
  color: #003459;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: start;
  margin-top: 14px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-71 {
    text-wrap: initial;
  }
}

.div-72 {
  display: flex;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  align-self: center;
  display: flex;
  margin-top: 103px;
  width: 100%;
  flex-grow: 1;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 20px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-72 {
    max-width: 100%;
  }
}

.img-2 {
  aspect-ratio: 5.88;
  object-fit: cover;
  object-position: center;
  width: 188px;
  align-self: center;
  margin-top: 60px;
}

.div-73 {
  justify-content: center;
  color: #003459;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: center;
  margin-top: 18px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .div-73 {
    text-wrap: initial;
  }
}